body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
  transition: background-color 0.5s ease;
}

button {
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: 	#F08080;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #FFA07A;
}