*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: auto;

}

nav {
    padding: 1rem;
    background-color: rgb(248, 242, 238);
}
    

.nav-con {
   display: flex;
justify-content: space-between;

}


.logo a {
    font-size: 2rem;
    color: #ff7fa9;
    text-decoration: none;
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
}


.menu li a {
    margin: 0 1rem;
}
.menu li a{
    color: #000;
    text-decoration: none;


}
.jan {
    background-color: #ffcddd;
}
.jan-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: normal;
}
    

.jan-info {
    width: 100%;
    padding: 2rem;
}

.jan-info h3 {
    font-size: 2rem;

}
.jan-info p {
    margin: 1rem 0;
}

.jan-info .jan-btn  {
    display: inline-block;
    background-color: rgb(253, 160, 222);
    color: #000000;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
}
.jan-img  img {
    padding: 1rem;
    width: 30%  ;
    float:right;
    
}
.blog-con {

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;

}
.blog-con1 {
     
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;

}


     .blog-title {
    margin: 2rem 0;
}
.blog-item img {
    width: 80;
    height: 50;
}

.blog-item1 img {
    width: 100%;
    
}

.blog-item h4 {
    margin-top: 1rem;
}
.blog-item p {
 margin: 1rem 0 ;
}
.blog-item a{
    display: inline-block;
    color: #ffffff;
    background-color: rgb(252, 82, 96);
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    

}
.blog-item1 a{
    
    display: inline-block;
    color: #ffffff;
    background-color: rgb(252, 82, 96);
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}